<div class="container">

<div class="row">


<% @users.each do |user| %>
<figure class="snip0061 yellow"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample8.jpg" alt="sample8" />
  <figcaption>
    <h2> <%= user.name %> </h2>
    <p>  <%= user.email %> </p>
    <div class="icons">
    <a href="<%= profile_path(user) %>"><i class="ion-ios-home"></i></a>

    <a href="<%= profile_path(user) %>"><i class="ion-ios-email"></i></a>
    <a href="<%= profile_path(user) %>"><i class="ion-ios-telephone"></i></a>
  </div>
  </figcaption>
  <div class="position">Software Engineer</div>
</figure>
<% end %>
</div>
</div>
