<div class="sidenav bg-danger" data-turbolinks="false">
  <a href="#portfolio" class="nav-link js-anchor-link">About</a>
  <a href="#portfolio2" class="nav-link js-anchor-link">Services</a>
  <a href="#portfolio3">Clients</a>
  <a href="#">Contact</a>
</div>

<div class="container main" data-turbolinks="false">
  <section id="portfolio">
    <h1>My projects</h1>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Link</th>
          <th>Name</th>
          <th>Lead</th>
          <th>Description</th>
          <th>Repository</th>
          <th>Author</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.reverse.each do |project| %>
          <tr>
            <td><%= link_to "#{project.name}", project %></td>
            <td><%= project.url %></td>
            <td><%= project.lead %></td>
            <td><%= project.description %></td>
            <td><%= project.repository %></td>
            <td><%= project.user.name %></td>
            <td><%= link_to 'Editar', edit_project_path(project), class: 'btn btn-sm btn-success' %></td>
            <td>
              <%= link_to 'Eliminar', project, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar el Post?' }, class: 'btn btn-sm btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>


  <section id="portfolio2">
    <div class="container">
      <h1>Projects</h1>
      <div class="row">
        <% @projects.reverse.each do |project| %>
          <div class="col-md-4 col-lg-4">
            <div class="card shadow border-1">
              <% if user_signed_in? %>
                <%= link_to (image_tag project.project_photo.url, size: "400x300", class: "card-img-top"), all_project_path(project), :remote => true%>
              <% else %>
                <%= link_to (image_tag project.project_photo.url, size: "400x300" ), all_project_path(project), :remote => true%>
            <% end %>
            </div>
            <div class="w-100" style="margin-top:20px;">
            </div>

          </div>
          <% end %>
      </div>
  </section>



</div>
