<div class="container upload d-flex justify-content-center text-center py-5">

  <%= form_with(model: project, local: true, id: "myForm", html: { class: 'form-horizontal' }) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %>
        prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, 'Project title', class: 'control-label' %>
      <div class="">
        <%= f.text_field :name, autofocus: true, class: 'form-control'%>
      </div>
    </div>


  <div class="form-group">
    <label for="Select">Category</label>
    <div class="">

    <!-- <select data-placeholder="Choose a tag" class="chosen-select w-100" name="tagging" multiple="multiple" tabindex="4">
      <option value=""></option>
      <option value="1">Javascript</option>
      <option value="2">ReactJS</option>
      <option value="3">AngularJS</option>
      <option value="4">Python</option>
      <option value="5">Django</option>
      <option value="6">Scikit-learn</option>
      <option value="7">Tensorflow</option>
      <option value="8">AWS</option>
      <option value="9">Machine Learning</option>
      <option value="10">Deep Learning</option>
      <option value="11">AI</option>
      <option value="12">Google Services</option>
      <option value="13">SEO</option>
      <option value="14">Hadoop</option>
      <option value="15">Ruby</option>
      <option value="16">Ruby on Rails</option>
      <option value="17">PHP</option>
      <option value="18">Laravel</option>
      <option value="19">Symfony</option>
      <option value="20">Unity</option>
      <option value="21">Bootstrap</option>
      <option value="22">Java</option>
      <option value="23">Kotlin</option>
      <option value="24">PostgreSQL</option>
      <option value="25">SQL</option>
      <option value="26">MySQL</option>
    </select> -->


      <%=  select_tag :category_id, options_for_select(Category.all.collect{ |u| [u.name, u.id] }), class: "chosen-select", multiple: true %>

    </div>
  </div>


  <div class="form-group">
    <%= f.label :url, 'Url', class: 'control-label' %>
    <div class="">
      <%= f.text_field :url, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :repository, 'Repository', class: 'control-label' %>
    <div class="">
      <%= f.text_field :repository, class: 'form-control'%>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :project_photo, 'Project photo', class: 'control-label' %>
    <div class="">
      <%= f.file_field :project_photo, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lead, 'Short description', class: 'control-label' %>
    <div class="">
      <%= f.text_field :lead, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Long description', class: 'control-label' %>
    <div class="">
      <%= f.text_area :description, class: 'form-control'%>
    </div>
  </div>

  <div class="form-group mt-5">
      <%= f.submit 'Confirmar', class: 'square-button ' %>
  </div>
</fieldset>
<% end %>

</div>
