<div class="container upload d-flex justify-content-center text-center py-5">

  <%= form_with(model: project, local: true, id: "myForm", html: { class: 'form-horizontal' }) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %>
        prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, 'Project title', class: 'control-label' %>
      <div class="">
        <%= f.text_field :name, autofocus: true, class: 'form-control'%>
      </div>
    </div>



    <div class="form-group">
      <label for="Select">Category</label>
      <div class="">

        <%= select_tag :category_id, options_for_select(Category.all.collect{ |u| [u.name, u.id] }), class: "chosen-select",  multiple: true %>

      </div>
    </div>

    <!-- <script>
      $(document).ready(function(){

      $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!",
        width: "95%",
        rtl: true

      });
    });

    </script> -->



    <div class="form-group">
      <%= f.label :url, 'Url', class: 'control-label' %>
      <div class="">
        <%= f.text_field :url, class: 'form-control'%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :repository, 'Repository', class: 'control-label' %>
      <div class="">
        <%= f.text_field :repository, class: 'form-control'%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :project_photo, 'Project photo', class: 'control-label' %>
      <div class="">
        <%= f.file_field :project_photo, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :lead, 'Short description', class: 'control-label' %>
      <div class="">
        <%= f.text_field :lead, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Long description', class: 'control-label' %>
      <div class="">
        <%= f.text_area :description, class: 'form-control'%>
      </div>
    </div>

    <div class="form-group mt-5">
      <%= f.submit 'Confirmar', class: 'square-button ' %>
    </div>
  </fieldset>
<% end %>

</div>
