<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="display: flex; align-items: center; flex-direction:column;" class="w-100">
          <h2 class="modal-title"><%= @project.name %></h2>
          <h6><%= @project.user.course %></h6>

          <h5>By
            <%= link_to "#{@project.user.name}", profile_path(@project.user.name) %>
          </h5>

          <div class="row">

          <% if can? :update, @project %>
            <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info btn-sm' %>
          <% end %>

          <div class="mx-2">

          </div>

          <% if can? :destroy, @project %>
            <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </div>

        </div>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>

      </div>

      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag @project.project_photo.url, :width => '90%' %>
        </div>
        <hr>
        <div class="container my-3 mx-5 px-5">
          <p><%= link_to "Demo", URI::HTTP.build({:host => @project.url}).to_s, target: "_blank" %></p>
          <p><%= link_to "Repository", URI::HTTP.build({:host => @project.repository}).to_s, target: "_blank" %></p>
          <p><%= @project.lead %></p>
          <p><%= @project.description %></p>

          <%= render 'tags' %>

        </div>
      </div>

      <div class="modal-footer" >

        <div class="container" >

          <div id="comments">
            <%= render 'comments'%>
          </div>

          <% if user_signed_in? %>
            <div >

              <div class="col card card-body bg-light">
                <div class="form-group">
                  <%= form_with(model: [@project, Comment.new], html: { class: 'form-horizontal' , remote: true}) do |f| %>
                  <div class="col-md-12">
                    <legend>Comment:</legend>
                    <%= f.text_area :content, placeholder: 'Write your comment here...', class: 'form-control' %>
                    <div class="text-center mt-2">
                      <%= f.submit 'Post comment', class: 'btn btn-primary ax'%>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if can? :show, @project %>
      <%= link_to 'Details', project_path(@project), class: 'btn btn-info' %>
    <% end %>


  </div>
</div>
</div>
