<nav class="navbar navbar-expand-lg navbar-light bg-light" data-toggle="affix">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarsExample11">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= projects_path %>">All projects</a>
        </li>
        <li class="nav-item">
          <%=link_to "Full stack", filter_path(:value => "Desarrollo Full Stack"), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Front end", filter_path(:value => "Desarrollo Front End"), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Data science", filter_path(:value => "Data Science"), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "UX/UI", filter_path(:value => "Diseño UX/UI"), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Web dev", filter_path(:value => "Desarrollo Sitios Web"), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Digital marketing", filter_path(:value => "Marketing Digital"), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Unity", filter_path(:value => "Desarrollo Videojuegos"), class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%=link_to "Android", filter_path(:value => "Desarrollo Android"), class: "nav-link"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
