<div class="container">

	<div class="text-center">
		<p id="notice"><%= notice %></p>

		<legend>
			<h1><%= @project.name %></h1>
		</legend>

		<p>
			<strong>Publicado por:</strong>
			<%= link_to "#{@project.user.name}", profile_path(@project.user.name) %>
		</p>

		<div class="my-3">

			<% if can? :update, @project %>
				<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info' %>
			<% end %>

		</div>

		<div class="">
			<%= image_tag @project.project_photo.url, :width => '70%' %>

			<div class="my-3">
				<h3><%= @project.lead %></h3>
				<br>
				<h4><%= @project.description %></h4>
			</div>
			<p><%= link_to "Demo", URI::HTTP.build({:host => @project.url}).to_s, target: "_blank" %></p>
			<p><%= link_to "Repository", URI::HTTP.build({:host => @project.repository}).to_s, target: "_blank" %></p>

			<% @project.categories.each do |category| %>
				<small class="badge badge-info"><%= category.name %>
					<% if can? :update, @project %>
						<a href="<%= remove_tag_project_path(@project, category) %>" data-method="delete">
							<span class="badge text-white">X</span>
						</a>
					<% end %>
				</small>
			<% end %>

		</div>

	</div>

	<div id="comments" >

		<%= render 'comments' %>

	</div>



	<% if user_signed_in? %>
		<div class="card card-body bg-light mt-5">
			<%= form_with(model: [@project, Comment.new], html: { class: 'form-horizontal' , remote: true}) do |f| %>
			<div class="form-group">
				<div class="col-md-12">
					<legend>Comment:</legend>
					<%= f.text_area :content, placeholder: 'Write your comment here...', class: 'form-control' %>
					<%= f.submit 'Send', class: 'btn btn-primary' %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<div class="container my-5 text-center">
	<%= link_to 'Back', root_path, class: 'btn btn-info' %>
</div>

<div class="container mt-5 d-flex justify-content-center">
	<% if @comments != nil%>
		<%= paginate @comments %>
	<% end %>

</div>

</div>
