<%= form_with(model: category, local: true, html: { class: 'form-horizontal' }) do |f| %>
  <% if category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
    <ul>
      <% category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, 'Name', class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Título del post' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Confirmar', class: 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
<% end %>
