<nav class="navbar navbar-expand bg-dark navbar-dark fixed-top">
  <div class="container">

    <a class="navbar-brand" href="<%= root_path %>">
      <img src="https://empieza.desafiolatam.com/assets/desafio-latam-logotipo-cf17a8d96fda31527d4f6755952df75149d0782b76ddc76d57fbdd6fc6bc33c0.svg" width="160" height="61" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse container-fluid navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Projects", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Hiring?", users_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link"%>
        </li>

        <li class="nav-item">
          <%= link_to "Categories", categories_path, class: "nav-link"%>
        </li>
        <% if user_signed_in? && current_user.has_role?(:admin) %>

          <li class="nav-item">
            <%= link_to "Dashboard", rails_admin_path, class: "nav-link"%>
          </li>
        <% end %>


      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target="#my-target">
              <% if current_user.profile_photo != "" %>
                <%=image_tag current_user.profile_photo, class: "rounded-circle", size: "40x40" %>
              <% else %>
                <%=image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTN-KnBJBlAXK1x97js3MvFxahRv49ljFFqPwn7_16-0l1T2kEt", class: "rounded-circle", size: "40x40" %>
              <% end %>
            </a>
            <div id="my-target" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", display_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "New project", new_project_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link"%>
          </li>
          <li>
            <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
          </li>
        </ul>
      <% end %>
    </div>

  </nav>
