<!DOCTYPE html>
<html>
  <head>
    <title>Pruebafinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/a1afea4c5d.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('DL.ico')%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://harvesthq.github.io/chosen/chosen.css">



  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if notice.present?%>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <div class="page-container">
      <div class="content-wrap">
        <%= yield %>
      </div>
      <footer>
        <div class="footer-logo py-4 text-center">
          <img alt="Logo Academia Desafío Latam" title="Academia Desafío Latam" src="https://desafiolatam.com/assets/home/logo-academia-slogan-bla-48a13964a80d475fa8db4b7f84e799df1986bc8fe5ce86a504aaa6af8f7710da.png">
        </div>
        <div class="footer-content">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-4 col-xl-3">
                <div class="footer-direcciones">
                  <h3>Contacto</h3>
                  <h4>Santiago, Chile</h4>
                  <a class="mailto" href="mailto:inscripciones@desafiolatam.com">inscripciones@desafiolatam.com</a><br>
                  <a class="mailto" href="https://api.whatsapp.com/send?phone=56951177975&text=Hola%20quiero%20informaci%C3%B3n">+56 9 5117 7975</a><br>
                  <span>//Sede Baquedano y Oficinas de Atención</span>
                  <a class="mailto" target="_blank" href="https://goo.gl/maps/q5UMFeirbuXLmXr26"><br>Rebeca Matte 18, Santiago</a>
                  <br/>
                  <span>//Sede Providencia</span>
                  <a class="mailto" target="_blank" href="https://www.google.com/maps/place/José+Miguel+Claro+1074,+Providencia"><br>Miguel Claro 1074, Providencia</a>
                  <div class="dropdown-divider"></div>
                  <h4>Valparaíso, Chile</h4>
                  <a class="mailto" href="mailto:valparaiso@desafiolatam.com">valparaiso@desafiolatam.com</a><br>
                  <a class="mailto" href="https://api.whatsapp.com/send?phone=569974631816&text=Hola%20quiero%20informaci%C3%B3n">+56 9 7463 1816</a><br>
                  <div class="dropdown-divider"></div>
                  <h4>Córdoba, Argentina</h4>
                  <a class="mailto" href="mailto:cordoba@desafiolatam.com">cordoba@desafiolatam.com</a><br>
                  <a class="mailto" href="https://api.whatsapp.com/send?phone=5493513104410&text=Hola%20quiero%20informaci%C3%B3n">+54 9 351 310-4410</a><br>
                </div>
              </div>
              <div class="col-12 col-md-4 col-xl-3">
                <div class="footer-menu">
                  <h3>Carreras</h3>
                  <ul>
                    <li>
                      <a href="https://desafiolatam.com/fullstack/">Full Stack
                      </a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/diseno-ux-ui/">Diseño UX/UI</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/android/">Android</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/marketing-digital/">Marketing Digital</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/video-juegos/">Video Juegos</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/data-science/">Data Science</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/desarrollo-sitios-web">Desarrollo Sitios Web</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-4 col-xl-3">
                <div class="footer-menu">
                  <h3>Nuestra comunidad</h3>
                  <ul>
                    <li>
                      <a href="https://desafiolatam.com/estudiantes">Estudiantes</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/comunidad">Comunidad</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <a href="http://blog.desafiolatam.com/">Blog</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/trabaja-con-nosotros">Trabaja con Nosotros</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/equipo-docente">Postula para ser docente</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/politica-de-calidad">Políticas de Calidad</a>
                    </li>
                    <li>
                      <a href="https://desafiolatam.com/politica-privacidad-de-datos">Política de Privacidad y Protección de Datos</a>
                    </li>
                  </ul>
                  <div class="footer-redes">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/DesafioLatam/" target="_blank">
                          <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/desafiolatam/" target="_blank">
                          <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/desafiolatam" target="_blank">
                          <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/channel/UCz0ekVt3TQ65voddo9xVOQw/" target="_blank">
                          <i class="fab fa-youtube" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-xl-3">
                <div class="footer-partners">
                  <h3>Con el Apoyo de</h3>
                  <img alt="Logo Corfo" title="Logo Corfo" class="w-100" src="https://desafiolatam.com/assets/home/logo-corfo-18ebf097645b10ac736d18116e93a5e8ca26a73e69ca483c919a97296b789ec1.png">
                  <h3>Somos OTEC</h3>
                  <img alt="Logo Sence" title="Logo Sence" class="w-100" src="https://desafiolatam.com/assets/home/logo-sence-0a4c2dbb04f59ac0c37f88f24124e735763f39252a48f163e78236c62a4b9b2f.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <%= javascript_pack_tag "custom" %>
    <%= javascript_pack_tag "upload" %>



    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js" type="text/javascript"></script>
    <script src="https://harvesthq.github.io/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://harvesthq.github.io/chosen/docsupport/init.js" type="text/javascript" charset="utf-8"></script>


  </body>
</html>
